body {
	height: 100%;
	width: 100%;
	display: flex;
	margin: 0;
}

.half-body1{
	height: 100%;
	width: 30%;
	background-color: blue;
	display: block;
}
.half-body2{
	height: 100%;
	width: 20%;
	background-color: green;
	display: block;
}
.half-body3{
	height: 100%;
	width: 20%;
	background-color: red;
}
.half-body4{
	height: 100%;
	width: 35%;
	background-color: pink;
}
//* ABOVE ARE PARENT DIVS *//
.eyeshadow{
	height: calc(100%/3);
	width: 100%;
	background-color: purple;
}

.cheeks{
	height: calc(100%/3);
	width: 100%;
	background-color: black;
}
.lips{
	height: calc(100%/3);
	width: 100%;
	background-color: red;
}
.button1{
	height: calc(100%/6);
	width: 100%;
	background-color: #9a4340;
}
.button2{
	height: calc(100%/6);
	width: 100%;
	background-color: #4d2120;
}
.button3{
	height: calc(100%/6);
	width: 100%;
	background-color: #f8cff5;
}
.button4{
	height: calc(100%/6);
	width: 100%;
	background-color: #8e6c05
;
}
.button5{
	height: calc(100%/6);
	width: 100%;
	background-color: #f23838;
}
.button6{
	height: calc(100%/6);
	width: 100%;
	background-color: #f78080;
}
.button7{
	height: calc(100%/6);
	width: 100%;
	background-color: #cd9e8c;
}
.button8{
	height: calc(100%/6);
	width: 100%;
	background-color: white;
}
.button9{
	height: calc(100%/6);
	width: 100%;
	background-color: #dda8be;
}
.button10{
	height: calc(100%/6);
	width: 100%;
	background-color: #B87900;
}
.button11{
	height: calc(100%/6);
	width: 100%;
	background-color: #912121;
}
.button12{
	height: calc(100%/6);
	width: 100%;
	background-color: #ca0808;
}
.eye-pic{
	height: 25%;
	width: 50vw;
	background-color: yellow;
}

.cheek-pic{
	height: 25%;
	width: 50vw;
	background-color: blue;
}

.lips-pic{
	height: 25%;
	width: 50vw;
	background-color: black;
}

.key{
	height: 25%;
	width: 50vw;
	background-color: orange;
}
.restrict-img-size{
	height: 33.3%;
	max-width: 100%;
}
.restrict-img-size2{
	height: 100%;
	width: 100%;
}
.restrict-img-size3{
	height: 100%;
	max-width: 100%;
}